<!DOCTYPE HTML>
<html data-ng-app="cardModule">
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="resources/css/card.css">

	<script src="resources/js/jquery-2.1.4.min.js"></script>
	<script src="resources/js/jquery-ui.min.js"></script>
	<script src="resources/js/angular.min.js"></script>
	<script src="resources/js/om/card-controller.js"></script>	
	<script src="resources/js/om/card.js"></script>	
</head>
<body>
	<div>
		<h1>Board</h1>
		
		<h2>Opponent</h2>				
		<div data-ng-controller="CardController">
			<div id="{{card.Id}}" data-card-id="{{card.Id}}" data-ng-repeat="card in oppponentPartyCards" class="card" draggable="true" ondragstart="drag(event)">
				<div>{{card.Title}}</div>
				<img data-ng-src="{{card.ImgPath}}" style="width: 200px; height: 200px;" />
			</div>
		</div>
		
		<h2>Party</h2>				
		<div data-ng-controller="CardController">
			<div class="cardDropZone card" data-ng-repeat="card in handCards" ondrop="drop(event)" ondragover="allowDrop(event)">DROP HERE</div>
		</div>
		
		<h2>Hand</h2>
		<div data-ng-controller="CardController">
			<div id="{{card.Id}}" data-card-id="{{card.Id}}" data-ng-repeat="card in cards" class="card" draggable="true" ondragstart="drag(event)">				
				<div>{{card.Title}}</div>
				<canvas data-img-src="{{card.ImgPath}}" data-rotation="10" />
			</div>
		</div>
	</div>
</body>
</html>
